In [2]:
import pandas as pd


# read in GDP dataset
gdp = pd.read_csv('gdp_country.csv', skiprows=4)

# drop columns we don't need
gdp = gdp.drop(columns=['Indicator Name', 'Indicator Code', 'Country Code', '2023', 'Unnamed: 68'])

# melt dataframe to make it clean and readable
gdp = gdp.melt(id_vars=["Country Name"], 
                  var_name="Year", 
                  value_name="GDP")

# renaming Country column
gdp.rename(columns={'Country Name' : 'Country'}, inplace=True)
gdp

# convert 'Year' to integer
gdp['Year'] = gdp['Year'].astype(int)
gdp.dtypes

# filter to observations after 2010 to match our other dataset
gdp = gdp[gdp['Year'] >= 2010]
gdp

# drop missing values
gdp = gdp.dropna()
gdp

# reset index
gdp.reset_index(drop=True, inplace=True)
gdp

# how many countries do we have data on
gdp['Country'].nunique()
gdp

                          Country  Year           GDP
0                           Aruba  2010  2.453597e+09
1     Africa Eastern and Southern  2010  8.494097e+11
2                     Afghanistan  2010  1.585667e+10
3      Africa Western and Central  2010  6.001527e+11
4                          Angola  2010  8.379947e+10
...                           ...   ...           ...
3358                        Samoa  2022  8.329452e+08
3359                       Kosovo  2022  9.354903e+09
3360                 South Africa  2022  4.069200e+11
3361                       Zambia  2022  2.916378e+10
3362                     Zimbabwe  2022  3.278975e+10

[3363 rows x 3 columns]